.contact-form {
    * {
        color: #888888;
    }
    button {
        color: white;
    }
    .form-control {
        padding: 10px;
    }
    .form-group {
        margin-bottom: 10px;
        label {
            margin-bottom: 5px;
        }
    }
}
