<div class="contact-form container">
    <h5 class="py-4 border-bottom mb-4">{{'CONTACT_US'|translate}}</h5>
    <form [formGroup]="form" enctype="multipart/form-data" (submit)="save()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'EMAIL'|translate}}</label>
                    <input [class.is-invalid]="email?.invalid&&email?.touched" type="text" formControlName="email"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="email?.hasError('required')">
                            {{_translateUtil.translate(['EMAIL','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="email?.hasError('email')&&!email?.hasError('required')">
                            {{_translateUtil.translate(['EMAIL','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'ADDRESS'|translate}} </label>
                    <input formControlName="address" [class.is-invalid]="address?.invalid&&address?.touched" type="text"
                        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address">
                    <div class="invalid-feedback text-danger">
                        {{_translateUtil.translate(['ADDRESS','REQUIRED'])}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'WORKING_DAYS_AR'|translate}}</label>
                    <input [class.is-invalid]="working_days_ar?.invalid&&working_days_ar?.touched" type="text"
                        formControlName="working_days_ar" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="working_days_ar">
                    <div class="invalid-feedback text-danger">
                        {{_translateUtil.translate(['WORKING_DAYS_AR','REQUIRED'])}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'WORKING_DAYS_EN'|translate}}</label>
                    <input [class.is-invalid]="working_days_en?.invalid&&working_days_en?.touched" type="text"
                        formControlName="working_days_en" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="working_days_en">
                    <div class="invalid-feedback text-danger">
                        {{_translateUtil.translate(['WORKING_DAYS_EN','REQUIRED'])}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'WORKING_HOURS_AR'|translate}}</label>
                    <input [class.is-invalid]="working_hours_ar?.invalid&&working_hours_ar?.touched" type="text"
                        formControlName="working_hours_ar" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="working_hours_ar">
                    <div class="invalid-feedback text-danger">
                        {{_translateUtil.translate(['WORKING_HOURS_AR','REQUIRED'])}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'WORKING_HOURS_EN'|translate}}</label>
                    <input [class.is-invalid]="working_hours_en?.invalid&&working_hours_en?.touched" type="text"
                        formControlName="working_hours_en" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="working_hours_en">
                    <div class="invalid-feedback text-danger">
                        {{_translateUtil.translate(['WORKING_HOURS_EN','REQUIRED'])}}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'FIRST_PHONE'|translate}} </label>
                    <input formControlName="first_phone" [class.is-invalid]="first_phone?.invalid&&first_phone?.touched"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="first_phone">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="first_phone?.hasError('required')">
                            {{_translateUtil.translate(['FIRST_PHONE','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="first_phone?.hasError('pattern')&&!first_phone?.hasError('required')">
                            {{_translateUtil.translate(['FIRST_PHONE','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'SECOND_PHONE'|translate}} </label>
                    <input formControlName="second_phone" [class.is-invalid]="second_phone?.invalid&&second_phone?.touched"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="second_phone">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="second_phone?.hasError('required')">
                            {{_translateUtil.translate(['SECOND_PHONE','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="second_phone?.hasError('pattern')&&!second_phone?.hasError('required')">
                            {{_translateUtil.translate(['SECOND_PHONE','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'LAST_PHONE'|translate}} </label>
                    <input formControlName="last_phone" [class.is-invalid]="last_phone?.invalid&&last_phone?.touched"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="last_phone">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="last_phone?.hasError('required')">
                            {{_translateUtil.translate(['LAST_PHONE','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="last_phone?.hasError('pattern')&&!last_phone?.hasError('required')">
                            {{_translateUtil.translate(['LAST_PHONE','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'FACEBOOK'|translate}}</label>
                    <input [class.is-invalid]="facebook?.invalid&&facebook?.touched" type="text"
                        formControlName="facebook" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="facebook">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="facebook?.hasError('required')">
                            {{_translateUtil.translate(['FACEBOOK','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="facebook?.hasError('pattern')&&!facebook?.hasError('required')">
                            {{_translateUtil.translate(['FACEBOOK','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'TWITTER'|translate}}</label>
                    <input [class.is-invalid]="twitter?.invalid&&twitter?.touched" type="text" formControlName="twitter"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="twitter">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="twitter?.hasError('required')">
                            {{_translateUtil.translate(['TWITTER','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="twitter?.hasError('pattern')&&!twitter?.hasError('required')">
                            {{_translateUtil.translate(['TWITTER','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'YOUTUBE'|translate}}</label>
                    <input [class.is-invalid]="youtube?.invalid&&youtube?.touched" type="text" formControlName="youtube"
                        type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="youtube">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="youtube?.hasError('required')">
                            {{_translateUtil.translate(['YOUTUBE','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="youtube?.hasError('pattern')&&!youtube?.hasError('required')">
                            {{_translateUtil.translate(['YOUTUBE','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'INSTGRAM'|translate}}</label>
                    <input [class.is-invalid]="instgram?.invalid&&instgram?.touched" type="text"
                        formControlName="instgram" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="instgram">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="instgram?.hasError('required')">
                            {{_translateUtil.translate(['INSTGRAM','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="instgram?.hasError('pattern')&&!instgram?.hasError('required')">
                            {{_translateUtil.translate(['INSTGRAM','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{'LINKED_IN'|translate}}</label>
                    <input [class.is-invalid]="linked_in?.invalid&&linked_in?.touched" type="text"
                        formControlName="linked_in" type="text" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="linked_in">
                    <div class="invalid-feedback text-danger">
                        <ng-container *ngIf="linked_in?.hasError('required')">
                            {{_translateUtil.translate(['LINKED_IN','REQUIRED'])}}
                        </ng-container>
                        <ng-container *ngIf="linked_in?.hasError('pattern')&&!linked_in?.hasError('required')">
                            {{_translateUtil.translate(['LINKED_IN','NOT_VALID'])}}
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-primary">{{'SAVE_CHANGES'|translate}}</button>
        </div>
    </form>
</div>