.login-container {
    display: flex;
    justify-content: center;
    [dir="rtl"] & {
        .checkmark {
            position: relative;
            bottom: 2px;
        }
    }
    .login-wrapper {
        padding: 30px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .form-control {
            padding: 12px;
        }
        .logo {
            display: flex;
            justify-content: center;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .login-wrapper {
            box-shadow: none;
        }
    }
}
