<app-page-header header="{{'RESET_PASSWORD'|translate}}"></app-page-header>
<div class="forget-password-container py-5">
    <div class="forget-password-wrapper">
        <div class="logo">
            <a routerLink="/home">
                <img src="assets/images/KAM-CLEANER-LOGO.png" alt="">
            </a>
        </div>
        <div class="text-center mb-4">
            <h5 class="text-secondary">{{'RESET_PASSWORD'|translate}}</h5>
        </div>
        <form [formGroup]="form">
            <div class="form-group mb-4">
                <input formControlName="email" [class.is-invalid]="(email?.invalid&&email?.touched)||emailNotFound"
                    type="text" name="email" id="email" placeholder="{{'EMAIL'|translate}}" class="form-control">
                <div class="invalid-feedback">
                    <ng-container *ngIf="email?.hasError('required')">
                        {{_translateUtil.translate(["EMAIL","REQUIRED"])}}
                    </ng-container>
                    <ng-container *ngIf="email?.hasError('email')">
                        {{ _translateUtil.translate(["EMAIL",'NOT_VALID'])}}
                    </ng-container>
                    <ng-container *ngIf="!email?.hasError('email')&&!email?.hasError('required')&&emailNotFound">
                        {{ _translateUtil.translate(["EMAIL",'NOT_FOUND'])}}
                    </ng-container>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button (click)="forgetPassword()" class="btn btn-primary mt-2">{{'SEND'|translate}}</button>
            </div>
        </form>
    </div>
</div>