<!--Information Start-->
<section class="information">
    <div class="container">
        <div class="information__inner">
            <div class="information__logo-box">
                <div class="information__border-1"></div>
                <div class="information__border-2"></div>
                <a routerLink="/home">
                    <img src="assets/images/KAM-CLEANER-LOGO.png" alt="">
                </a>
            </div>
            <ul class="list-unstyled information__list">
                <li>
                    <div class="information__icon">
                        <span class="icon-phone"></span>
                    </div>
                    <div class="information__content">
                        <p class="information__sub-title">{{'CALL_ANYTIME'|translate}}</p>
                        <h5 class="information__number">
                            <a href="tel:{{contact?.first_phone}}">{{contact?.first_phone}}</a>
                        </h5>
                    </div>
                </li>
                <li>
                    <div class="information__icon">
                        <span class="icon-envelope"></span>
                    </div>
                    <div class="information__content">
                        <p class="information__sub-title">{{'EMAIL'|translate}}</p>
                        <h5 class="information__number">
                            <a href="mailto:{{contact?.email}}">{{contact?.email}}</a>
                        </h5>
                    </div>
                </li>
                <li>
                    <div class="information__icon">
                        <span class="icon-location-1"></span>
                    </div>
                    <div class="information__content">
                        <p class="information__sub-title">{{'VISIT_OFFICE'|translate}}</p>
                        <h5 class="information__number">{{contact?.address}}</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--Information End-->