<!--Blog Page Start-->
<section *ngIf="articles.length>0" class="blog-container blog-page">
    <div class="container">
        <div class="row">
            <!--Blog Page Single Start-->
            <div *ngFor="let i=index;let article of articles | paginate: { id: 'paging',
            itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: totalItems }" class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img [src]="article.image" alt="">
                        <a routerLink="/articals-list/{{article.id}}">
                            <span class="blog-one__plus"></span>
                        </a>
                        <div class="blog-one__date">
                            <p>{{getDay(article.created_at)}}<br> <span>{{getMonth(article.created_at)}}</span></p>
                        </div>
                    </div>
                    <div class="blog-one__content">
                        <h3 class="blog-one__title">
                            <a routerLink="/articals-list/{{article.id}}">
                                {{_translateUtil.translateModel(article,['title_en',
                                'title_ar'])}}
                            </a>
                        </h3>
                        <div class="blog-one__btn-box">
                            <a routerLink="/articals-list/{{article.id}}">{{'VIEW_MORE'|translate}} <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="blog-one__tag">
                            <p>
                                {{_translateUtil.translateModel(article,['subject_en',
                                'subject_ar'])}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Blog Page Single End-->
        </div>
    </div>
<div class="d-flex justify-content-center">
        <pagination-controls id="paging" [responsive]="true" previousLabel="" nextLabel=""
            (pageChange)="onPageChange($event)">
        </pagination-controls>
    </div>
</section>
<!--Blog Page End-->