.faq-container {
    .ngx-pagination {
        .current {
            background-color: #1239ac;
            padding: 0rem 0.625rem;
        }
    }
    .service-details__need-help {
        margin-top: 0;
    }
}
