<app-page-header header="{{'RESET_PASSWORD'|translate}}"></app-page-header>
<div class="reset-password-container py-5">
    <div class="reset-password-wrapper">
        <div class="logo">
            <a routerLink="/home">
                <img src="assets/images/KAM-CLEANER-LOGO.png" alt="">
            </a>
        </div>
        <div class="text-center mb-4">
            <h5 class="text-secondary">{{'RESET_PASSWORD'|translate}}</h5>
        </div>
        <form [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">{{'PASSWORD'|translate}}</label>
                <input formControlName="password" [class.is-invalid]="password.invalid&&password.touched"
                    [type]="passwordHidden?'password':'text'" class="form-control">
                <div class="invalid-feedback">
                    <ng-container *ngIf="password.hasError('pattern')">
                        {{'PASSWORD'|translate}} {{'WEAK'|translate}}
                    </ng-container>
                    <ng-container *ngIf="password.hasError('required')">
                        {{'PASSWORD'|translate}} {{'REQUIRED'|translate}}
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">{{'PASSWORD_CONFIRMATION'|translate}}</label>
                <input formControlName="password_confirmation" [class.is-invalid]="(password_confirmation.invalid||form.hasError('notMatch'))
                    &&password_confirmation.touched" [type]="passwordHidden?'password':'text'" class="form-control">
                <div class="invalid-feedback">
                    <ng-container *ngIf="password_confirmation.hasError('required')">
                        {{'PASSWORD'|translate}} {{'REQUIRED'|translate}}
                    </ng-container>
                    <ng-container *ngIf="form.hasError('notMatch')&&!password_confirmation.hasError('required')">
                        {{'PASSWORD'|translate}} {{'NOT_MATCHED'|translate}}
                    </ng-container>
                </div>
            </div>
            <div class="form-group mb-2">
                <label class="custom_check">
                    <input (change)="passwordHidden=!passwordHidden" type="checkbox" name="rem_password">
                    <span class="checkmark">
                        {{'SHOW_PASSWORD'|translate}}
                    </span>
                </label>
            </div>
        </form>
        <button (click)="resetPassword()" class="btn btn-primary mt-2">{{'RESET_PASSWORD'|translate}}</button>
    </div>
</div>