<!--Blog Details Start-->
<section *ngIf="article" class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-details__left">
                    <div class="blog-details__img">
                        <img [src]="article.image" alt="">
                    </div>
                    <div class="blog-details__content">
                        <ul class="list-unstyled blog-details__meta mb-2">
                            <li>
                                <a>
                                    <i class="fa fa-home"></i>
                                    {{_translateUtil.translateModel(article,['subject_en','subject_ar'])}}
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-calendar"></i>
                                    {{getDay(article.created_at)}} {{getMonth(article.created_at)}}
                                </a>
                            </li>
                        </ul>
                        <h3 class="blog-details__title">
                            {{_translateUtil.translateModel(article,['title_en','title_ar'])}}
                        </h3>
                        <p class="blog-details__text-1">
                            {{_translateUtil.translateModel(article,['description_en','description_ar'])}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    <div class="sidebar__single sidebar__post">
                        <h3 class="sidebar__title">{{'LATEST_ARTICLES'|translate}}</h3>
                        <ul class="sidebar__post-list list-unstyled">
                            <li *ngFor="let article of latestArticles">
                                <div class="sidebar__post-image">
                                    <img [src]="article.image" alt="">
                                </div>
                                <div class="sidebar__post-content">
                                    <h3>
                                        <span class="sidebar__post-content-meta"><i class="fa fa-home"></i>
                                            {{_translateUtil.translateModel(article,['subject_en','subject_ar'])}}
                                        </span>
                                        <a routerLink="/articals-list/{{article.id}}">
                                            {{_translateUtil.translateModel(article,['title_en','title_ar'])}}
                                        </a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog Details End-->