<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-bubble"><img src="assets/images/shapes/page-header-bubble.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a routerLink="/home">{{'HOME'|translate}}</a></li>
                <li><span>/</span></li>
                <li>{{header}}</li>
            </ul>
            <h2>{{header}}</h2>
        </div>
    </div>
</section>