<div class="partner-logos-table container-fluid">
    <div class="controls">
        <div class="actions">
            <button class="rounded-circle border" *ngFor="let action of actions" (click)="onActionClicked(action.id)">
                <i [class]="action.icon"></i>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table id="printTable" class="table">
            <thead class="table-light text-secondary">
                <tr>
                    <th scope="col">{{'IMAGE'|translate}}</th>
                    <th scope="col">{{'ACTIONS'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i=index;let logo of logos | paginate: { id: 'paging',
          itemsPerPage: itemsPerPage,
          currentPage: page,
          totalItems: totalItems }">
                    <td><img [src]="logo.image" /></td>
                    <td class="actions">
                        <div class="btns">
                            <button class="fs-9 border" *ngFor="let action of tableActions"
                                (click)="onActionClicked(action.id,logo,i)">
                                <i [class]="action.icon"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <pagination-controls id="paging" [responsive]="true" previousLabel="" nextLabel=""
            (pageChange)="onPageChange($event)">
        </pagination-controls>
    </div>
    <partner-logo-form [selectedLogo]="selectedLogo" (saved)="onLogoSaved($event)" (onClose)="logoForm='none'"
        [displayStyle]="logoForm"></partner-logo-form>
    <partner-logo-delete-confirmation (deleteConfirmed)="delete()" (onClose)="deleteModal='none'"
        [displayStyle]="deleteModal">
    </partner-logo-delete-confirmation>
</div>