.order-success-container {
    .order-success{
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            font-size: 25px;
            padding: 20px;
            border-radius: 50%;
        }
    }
}
