<!-- Modal -->
<div class="modal" [ngStyle]="{'display':displayStyle}" id="clientDeleteConfirmationModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary" id="exampleModalLabel">{{'DELETE_CONFIRMATION_HEADER'|translate}}
                </h5>
                <button (click)="close()" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="rounded-circle border  question-icon">
                    <i class="fa fa-question"></i>
                </div>
                {{'DELETE_CONFIRMATION_MESSAGE'|translate}}
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteConfirmed.emit()"
                    class="btn btn-primary">{{'YES'|translate}}</button>
                <button (click)="close()" type="button" class="btn btn-secondary">{{'NO'|translate}}</button>
            </div>
        </div>
    </div>
</div>