<div class="articles-table container-fluid">
    <div class="controls">
        <div class="search">
            <input [formControl]="searchCtrl" type="text" placeholder="{{'SEARCH'|translate}}">
            <i class="fa fa-search"></i>
        </div>
        <div class="actions">
            <button class="rounded-circle border" *ngFor="let action of actions" (click)="onActionClicked(action.id)">
                <i [class]="action.icon"></i>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table id="printTable" class="table">
            <thead class="table-light text-secondary">
                <tr>
                    <th scope="col">{{'IMAGE'|translate}}</th>
                    <th scope="col">{{'TITLE'|translate}}</th>
                    <th scope="col">{{'TITLE'|translate}}</th>
                    <th scope="col">{{'SUBJECT'|translate}}</th>
                    <th scope="col">{{'SUBJECT'|translate}}</th>
                    <th scope="col">{{'ACTIONS'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i=index;let article of articles | paginate: { id: 'paging',
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems }">
                    <td><img [src]="article.image" /></td>
                    <td>{{article.title_ar}}</td>
                    <td>{{article.title_en}}</td>
                    <td>{{article.subject_ar}}</td>
                    <td>{{article.subject_en}}</td>
                    <td class="actions">
                        <div class="btns">
                            <button class="fs-9 border" *ngFor="let action of tableActions"
                                (click)="onActionClicked(action.id,article,i)">
                                <i [class]="action.icon"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <pagination-controls id="paging" [responsive]="true" previousLabel="" nextLabel=""
            (pageChange)="onPageChange($event)">
        </pagination-controls>
    </div>
    <article-form [selectedArticle]="selectedArticle" (saved)="onArticleSaved($event)" (onClose)="articleForm='none'"
        [displayStyle]="articleForm">
    </article-form>
    <article-delete-confirmation (deleteConfirmed)="delete()" (onClose)="deleteModal='none'"
        [displayStyle]="deleteModal"></article-delete-confirmation>
</div>